<section class="cta-section">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-10">
                <h2 class="text-white mb-2">Over 10k opening jobs</h2>

                <p class="text-white">
                    Overall, Gotto is a reliable and efficient job listings website that connects job seekers with potential employers and provides valuable resources to help them succeed in their job search or recruitment efforts.
                </p>
            </div>

            <div class="col-lg-4 col-12 ms-auto">
                <div
                        class="custom-border-btn-wrap d-flex align-items-center mt-lg-4 mt-2"
                >
                    <a href="/register" class="custom-btn custom-border-btn btn me-4"
                    >Create an account</a
                    >

                    <a href="/login" class="custom-link">Post a job</a>
                </div>
            </div>
        </div>
    </div>
</section>
