<section class="reviews-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <h2 class="text-center mb-5">Happy customers</h2>

                <div class="owl-carousel owl-theme reviews-carousel">
                    <div class="reviews-thumb">
                        <div class="reviews-info d-flex align-items-center">
                            <img
                                    src="images/avatar/portrait-charming-middle-aged-attractive-woman-with-blonde-hair.jpg"
                                    class="avatar-image img-fluid"
                                    alt=""
                            />

                            <div
                                    class="d-flex align-items-center justify-content-between flex-wrap w-100 ms-3"
                            >
                                <p class="mb-0">
                                    <strong>Susan L</strong>
                                    <small>Product Manager</small>
                                </p>

                                <div class="reviews-icons">
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                </div>
                            </div>
                        </div>

                        <div class="reviews-body">
                            <img
                                    src="images/left-quote.png"
                                    class="quote-icon img-fluid"
                                    alt=""
                            />

                            <h4 class="reviews-title">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt.
                            </h4>
                        </div>
                    </div>

                    <div class="reviews-thumb">
                        <div class="reviews-info d-flex align-items-center">
                            <img
                                    src="images/avatar/medium-shot-smiley-senior-man.jpg"
                                    class="avatar-image img-fluid"
                                    alt=""
                            />

                            <div
                                    class="d-flex align-items-center justify-content-between flex-wrap w-100 ms-3"
                            >
                                <p class="mb-0">
                                    <strong>Jack</strong>
                                    <small>Technical Lead</small>
                                </p>

                                <div class="reviews-icons">
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star"></i>
                                    <i class="bi-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="reviews-body">
                            <img
                                    src="images/left-quote.png"
                                    class="quote-icon img-fluid"
                                    alt=""
                            />

                            <h4 class="reviews-title">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt.
                            </h4>
                        </div>
                    </div>

                    <div class="reviews-thumb">
                        <div class="reviews-info d-flex align-items-center">
                            <img
                                    src="images/avatar/portrait-beautiful-young-woman.jpg"
                                    class="avatar-image img-fluid"
                                    alt=""
                            />

                            <div
                                    class="d-flex align-items-center justify-content-between flex-wrap w-100 ms-3"
                            >
                                <p class="mb-0">
                                    <strong>Haley</strong>
                                    <small>Sales & Marketing</small>
                                </p>

                                <div class="reviews-icons">
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                </div>
                            </div>
                        </div>

                        <div class="reviews-body">
                            <img
                                    src="images/left-quote.png"
                                    class="quote-icon img-fluid"
                                    alt=""
                            />

                            <h4 class="reviews-title">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt.
                            </h4>
                        </div>
                    </div>

                    <div class="reviews-thumb">
                        <div class="reviews-info d-flex align-items-center">
                            <img
                                    src="images/avatar/blond-man-happy-expression.jpg"
                                    class="avatar-image img-fluid"
                                    alt=""
                            />

                            <div
                                    class="d-flex align-items-center justify-content-between flex-wrap w-100 ms-3"
                            >
                                <p class="mb-0">
                                    <strong>Jackson</strong>
                                    <small>Dev Ops</small>
                                </p>

                                <div class="reviews-icons">
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star"></i>
                                    <i class="bi-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="reviews-body">
                            <img
                                    src="images/left-quote.png"
                                    class="quote-icon img-fluid"
                                    alt=""
                            />

                            <h4 class="reviews-title">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt.
                            </h4>
                        </div>
                    </div>

                    <div class="reviews-thumb">
                        <div class="reviews-info d-flex align-items-center">
                            <img
                                    src="images/avatar/university-study-abroad-lifestyle-concept.jpg"
                                    class="avatar-image img-fluid"
                                    alt=""
                            />

                            <div
                                    class="d-flex align-items-center justify-content-between flex-wrap w-100 ms-3"
                            >
                                <p class="mb-0">
                                    <strong>Kevin</strong>
                                    <small>Internship</small>
                                </p>

                                <div class="reviews-icons">
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                </div>
                            </div>
                        </div>

                        <div class="reviews-body">
                            <img
                                    src="images/left-quote.png"
                                    class="quote-icon img-fluid"
                                    alt=""
                            />

                            <h4 class="reviews-title">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
